# https://cloud.ouraring.com/oauth/applications で登録したアプリの値
OURA_CLIENT_ID=
OURA_CLIENT_SECRET=
# アプリ登録時の Redirect URI と完全一致させること
OURA_REDIRECT_URI=http://localhost:8765/callback

# 書き込み先スプレッドシートの ID (URL の /d/<ここ>/edit)
SPREADSHEET_ID=

# 省略可: サービスアカウント鍵を使う場合。未指定なら gcloud の ADC を使う
# GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
